#root {
  max-width: 1280px;
 
}

.count{
  padding: 0 1em;
}
.quantity{
  padding-right: 1em;
}

.card {
  margin: auto;
}

.card_product{
  display: flex;
  justify-content: center;
}

.card_product-image{
  
}

.card_product-category{
  padding-left: 1em;
  text-transform: uppercase;
  background-color: rgb(48, 147, 234);
  border-radius: 50px;
}

.card_product-detail{
 padding-left: 5rem;
}

.card_product-title{
  text-transform: uppercase;
}
